ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 20px;
    margin: 0;
    background-color: burlywood;
}

li {
    cursor: pointer;
    padding: 3px;
    color: white;
}

li:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
}

.Header {
    position: sticky;

}

ul li a {
    text-decoration: none; 
    color: inherit;

}

ul li a:hover {
    color: inherit;
}
